*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color:  #FAFAFA;
  font-family: 'Space Grotesk','Oleo Script' sans-serif;
  
}

/* Styling Navigation bar section */
.nav{
  /* background-color: green; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px; 
  border-bottom: 2px solid greenyellow;
}
.navbar{
  display: flex;
  width: 80%;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.navbar h2{
  flex: 1;
  color:#00d4ff;
  font-family: "Oleo Script", sans-serif;
}
.navbar ul{
  flex: 2;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 20px;

}

.navbar ul li {
  list-style: none;
  padding: 8px 10px;

} 
.navbar ul li a{
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  
}
.navbar ul li a:hover{
  background-color: gray;
}
.navbar ul li a.active{
  background-color: green;
}

.btn-div{
  flex: 1;
  display: flex;
  justify-content: center;

}
#start{
padding: 5px 7px 5px 7px;
border-radius: 5x;
}

#start:hover{
  background-color: #FAFAFA;
  outline-color: invert;
  box-shadow: 0px 2px 2px 0px;
  transform: scale(1.5);
}

@media only screen and (max-width: 800px){
.navbar ul{
  display: flex;
  flex-direction: column;

}
.nav{
  height: fit-content;
}

}

/* Styling About section */

.home{
  /* background-color: grey; */
  margin: 50px 20px;
  display: flex; 
}
img{
  max-width: 100%;
  display: block;
  max-height: 100%;
}
.img1{
flex:1;
/* background-color: red; */

}
.home-content{
  flex:1;
  /* background-color: #00d4ff; */
  margin: 20px;
  
}

.home-content h3{
  /* background-color: green; */
  font-size: 30px;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 10px;
}

.home-content p{
  /* background-color: orange; */
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom:20px ;
}
.home-content button{
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
}
.home-content button a{
  color: whitesmoke;
  font-size: 20px;
}

.home-content button:hover{
  background-color: rgb(119, 25, 182);
}
.about{
  background-color: rgba(234, 242, 243, 0.959);
  margin:80px;
  height: 100px;
  text-align: center;
  border-radius: 6px;
}

.about ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

}

.about ul li{
  list-style-type: none;

}
.about ul li button{
  padding:8px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
  background-color: blue;
}