*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color:  #FAFAFA;
  background-color: #a8a8a81e;
  font-family: 'Space Grotesk','Oleo Script' sans-serif;
  overflow-x: hidden;
}

/* Styling Navigation bar section */
.nav{
  /* background-color: green; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px; 
  border-bottom: 2px solid greenyellow;
}
.navbar{
  display: flex;
  width: 80%;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.navbar h2{
  flex: 1;
  color:#00d4ff;
  font-family: "Oleo Script", sans-serif;
}
.navbar ul{
  flex: 2;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 20px;

}

.navbar ul li {
  list-style: none;
  padding: 8px 10px;

} 
.navbar ul li a{
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  
}
.navbar ul li a:hover{
  background-color: gray;
}
.navbar ul li a.active{
  background-color: green;
}

.btn-div{
  flex: 1;
  display: flex;
  justify-content: center;

}
#start{
padding: 5px 7px 5px 7px;
border-radius: 5x;
}

#start:hover{
  background-color: #FAFAFA;
  outline-color: invert;
  box-shadow: 0px 2px 2px 0px;
  transform: scale(1.5);
}

.menu-btn{
  /* background-color: green; */
  width: 80px;
  height: 40px;
  position:absolute;
  cursor: pointer;
}

@media only screen and (max-width: 800px){
.navbar ul{
  display: none;
}
.nav{
  height: fit-content;
}

}

@media (min-width:800px){
  .menu-btn{
    margin-top: -800px;
  }  
}
/* Styling About section */

.home{
  /* background-color: grey; */
  margin: 50px 20px;
  display: flex; 
}
img{
  max-width: 100%;
  /* display: block; */
  max-height: 100%;
}
.img1{
flex:1;
/* background-color: red; */

}
.home-content{
  flex:1;
  /* background-color: #00d4ff; */
  margin: 20px;
  
}

.home-content h3{
  /* background-color: green; */
  font-size: 30px;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 10px;
}

.home-content p{
  /* background-color: orange; */
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom:20px ;
}
.home-content button{
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
}
.home-content button a{
  color: whitesmoke;
  font-size: 20px;
}

.home-content button:hover{
  background-color: rgb(119, 25, 182);
}

.home-content i{
  /* background-color: #00d4ff; */
  position: absolute;
  margin-left: 30px;
  color: blue;


}
.about{
  background-color: rgba(234, 242, 243, 0.959);
  margin:80px;
  height: 100px;
  text-align: center;
  border-radius: 6px;
}

.about ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

}

.about ul li{
  list-style-type: none;

}
.about ul li button{
  padding:8px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
  background-color: blue;
  
}

/* procedures styling section */

.products .work{
  text-align: center;
  margin-bottom: 20px;
}
.products h2{
  margin: 10px 40px;
}
.procedures{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  
  
}
.procedures .location{

background-color: rgba(234, 242, 243, 0.959);
margin: 15px;
padding: 5px;
display: grid;
grid-template-rows: 80px 100px;
grid-gap: 30px;
align-items: center;


}
.procedures .location img{
  /* margin: 30px; */
  margin-right: auto;
  margin-left: auto;
}

/* Services styling */

.services{
  /* background-color: yellow; */
  margin:20px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.services .img3{
  /* background-color: #00d4ff; */
  max-width: 50%;
  display: flex;
  flex: 1;
  /* margin-right: 20px; */
}
.services .content{
flex:1;
display: grid;
align-content: center;
max-width: 50%;
margin: 20px;
/* background-color: green; */
padding: 10px;
}

.services .content h2{
  color: blue;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 10px;
}
.services .content p{
  margin-left: 10px;
}
.services .content ul{
  margin: 10px 10px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  /* grid-gap:0 50px; */
}
.services .content ul li{
  list-style-type: none;
  /* background-color: #FAFAFA; */
  margin: 5px;
  
}


/* Properties */

.properties{
  /* background-color: green; */
  margin: 40px;
}

 
.properties .about-prop{
  text-align: center;
  /* background-color: yellow; */
  width: 60%;
  height: 80px;
  margin-top: 80px;
  margin-left: 20%;
  margin-bottom: 20px;
}

 .properties .about-prop h3{
  font-family: 'Space Grotesk', sans-serif;
  color: blue;
  /* background-color: brown; */
  font-size:25px ;
  margin-bottom: 10px;
} 
.properties .about-prop p{
  padding: 5px;
}

.properties .images{
  display: flex;
  justify-content: space-between;
}

.properties .images .image4{
  background-color: white;
  margin: 12px;
  border-radius: 5px;
}

.properties .images .image3{
  margin: 12px;
background-color: white;
}
.properties .images .image5{
  background-color: white;
  margin: 12px;
  border-radius: 5px;
}
.properties .images .cost{
  margin-top: 10px;
  padding: 6px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
}
/* .properties .images .cost .loc{
  background-color: black;
}
.properties .images .cost .amount{
  background-color: red;
} */

/* Clients thoughts */

.clients{
  /* background-color: green; */
  margin: 30px;
  width: fit-content;
}
.clients .about-clients{
  /* background-color: rebeccapurple; */
  text-align: center;
  padding: 8px;
  font-family: 'Space Grotesk', sans-serif;
}
.clients .about-clients h2{
  margin-bottom: 5px;
}
.clients .members{
  /* background-color: aqua; */
  margin: 5px;
  display: flex;
}
.clients .members .member-one{
  margin: 10px;
  flex: 1;
  background-color:white;
  border-radius: 10px;
  padding: 5px;
}

.clients .members .member-one h5{
  padding:5px 0;
}

.view-more{
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  margin:10px ;
}
.view-more button{
  width: 100px;
  height: 40px;
  background-color: blue;
  border-radius: 10px;

}
.view-more button:hover{
  transform: scale(1.2);
}

/* Footer Section */

.footer{
  background-color: rgba(1, 1, 136, 0.897);
  width: 100%;
  height: 250px;
  display: flex;
  color: whitesmoke;
}
.footer .vision{
  margin: 20px;
  padding: 0 20px;
  /* background-color: red; */
flex:1;

}
.footer .vision h2{
font-family: "Oleo Script", sans-serif;
}

.footer .more{
  margin: 20px;
  /* background-color: green; */
flex:1;
display: flex;
justify-content: center;
}
.footer .navigation{
  margin: 20px;
  /* background-color: yellow; */
flex:1;
display: flex;
justify-content: center;
}
.footer ul li {
  list-style-type: none;
  margin-bottom: 20px;
  /* background-color: black; */
}
.footer ul li a{
  color: whitesmoke;
}

.home-page{
  font-size:30px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}