*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color:  #FAFAFA;
  background-color: #a8a8a81e;
  font-family: 'Space Grotesk','Oleo Script' sans-serif;
  /* overflow-x: hidden; */
}

.main-content{
  width: 85%;
  margin: auto;
}

/* Styling Navigation bar section */
.nav{
  /* background-color: green; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px; 
  border-bottom: 1px solid gray;
}
.navbar{
  display: flex;
  width: 80%;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.navbar h2{
  flex: 1;
  color:black;
  font-family: "Oleo Script", sans-serif;
}
.navbar ul{
  flex: 2;
  display: flex;
  align-items:center ;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 20px;

}

.navbar ul li {
  list-style: none;
  padding: 8px 10px;

} 
.navbar ul li a{
  font-size: 16px;
  padding: 10px 15px;
  display: flex;
  color: black;
  
}
.navbar ul li a:hover{
  color: blue;
  text-shadow: 1px 1px 1px blue;
}
.navbar ul li a.active{
  color: blue;
}

.btn-div{
  flex: 1;
  display: flex;
  justify-content: center;

}
#start{
padding: 5px 7px 5px 7px;
border-radius: 8px;
width:100px ;
background-color: blue;
}
#start a{
  color: white;
}
#start:hover{
  /* background-color: #FAFAFA; */
  /* outline-color: invert; */
  box-shadow: 1px 1px 2px 0px;
  /* transform: scale(1.5); */
}

.menu-btn{
  /* background-color: green; */
  width: 80px;
  height: 40px;
  position:absolute;
  cursor: pointer;
}

/* @media  screen and (max-width: 800px){
.navbar ul li:not(:first-child){
  display: none;
  
}
.nav{
  height: fit-content;
}
.menu-btn{
  position: absolute;
  right: 139px;
  top: 60px;
}



} */

/* @media (min-width:800px){
  .menu-btn{
    margin-top: -800px;
  }  
} */
/* Styling About section */

.home{
  /* background-color: grey; */
  margin: 50px 20px;
  display: flex; 
}
img{
  max-width: 100%;
  /* display: block; */
  max-height: 100%;
}
.img1{
flex:1;
/* background-color: red; */

}
.home-content{
  flex:1;
  /* background-color: #00d4ff; */
  margin: 20px;
  
}

.home-content h3{
  /* background-color: green; */
  font-size: 30px;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 10px;
}

.home-content p{
  /* background-color: orange; */
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom:20px ;
}
.home-content button{
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: blue;
}
.home-content button a{
  color: whitesmoke;
  font-size: 20px;
}

.home-content button:hover{
  background-color: rgb(119, 25, 182);
}

.home-content i{
  /* background-color: #00d4ff; */
  position: absolute;
  margin-left: 30px;
  color: blue;


}
.about{
  /* background-color: blue; */
  /* box-shadow: 1px 1px 1px gray; */
  background-color: #FAFAFA;
  margin:80px;
  color:blue;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.about .loc{
  margin: 20px;
  padding: 10px;
}
.about .loc span{
  display: flex;
  justify-content: space-between;
}

.about .loc  i{
  margin-left: 5px;
}
.about .loc p{
  font-size:12px;
  text-align: left;
}
.about button{
  margin-right: 50px;
  width: 80px;
  height: 30px;
  background-color: blue;
  border-radius: 8px;
}
/* procedures styling section */

.products .work{
  text-align: center;
  margin-bottom: 20px;
}
.products h2{
  margin: 10px 40px;
}
.procedures{
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  
  
}
.procedures .location{

background-color: white;
/* height: 100%; */
box-shadow: 1px 1px 5px grey;
width: 250px;
margin: 10px;
padding: 5px;
display: grid;
grid-template-rows: 80px 50px 150px;
grid-gap: 0;
align-items: center;
}

.procedures .location h3{
  text-align: center;
  margin-bottom: -40px;
  margin-top: 30px;

}
.procedures .location p{
  margin-top: 50px;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  letter-spacing: 1px;
}
.procedures .location img{
  /* margin: 30px; */
  margin-right: auto;
  margin-top: 70px;
  margin-left: auto;
}

/* Services styling */

.services{
  /* background-color: yellow; */
  margin:20px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.services .img3{
  /* background-color: #00d4ff; */
  max-width: 50%;
  display: flex;
  flex: 1;
  /* margin-right: 20px; */
}
.services .content{
flex:1;
display: grid;
align-content: center;
max-width: 50%;
margin: 20px;
/* background-color: green; */
padding: 10px;
}

.services .content h2{
  color: blue;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 10px;
}
.services .content p{
  margin-left: 10px;
}
.services .content ul{
  margin: 10px 10px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  /* grid-gap:0 50px; */
}
.services .content ul li{
  list-style-type: none;
  /* background-color: #FAFAFA; */
  margin: 5px;
  
}


/* Properties */

.properties{
  /* background-color: green; */
  margin: 40px;
}

 
.properties .about-prop{
  text-align: center;
  /* background-color: yellow; */
  width: 60%;
  height: 80px;
  margin-top: 80px;
  margin-left: 20%;
  margin-bottom: 20px;
}

 .properties .about-prop h3{
  font-family: 'Space Grotesk', sans-serif;
  color: blue;
  /* background-color: brown; */
  font-size:25px ;
  margin-bottom: 10px;
} 
.properties .about-prop p{
  padding: 5px;
}

.properties .images{
  display: flex;
  justify-content: space-between;
}

.pics{
  background-color: white;
margin: 30px;
border-radius: 10px;
}
.pics:hover{
transform: scale(1.02);
}
/* .properties .images .image4{

}

.properties .images .image3{
  margin: 12px;
background-color: white;
}
.properties .images .image5{
  background-color: white;
  margin: 12px;
  border-radius: 5px;
} */
.properties .images .cost{
  margin-top: 10px;
  padding: 6px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
}
/* .properties .images .cost .loc{
  background-color: black;
}
.properties .images .cost .amount{
  background-color: red;
} */

/* Clients thoughts */

.clients{
  /* background-color: green; */
  margin: 30px;
  width: fit-content;
}
.clients .about-clients{
  /* background-color: rebeccapurple; */
  text-align: center;
  padding: 8px;
  font-family: 'Space Grotesk', sans-serif;
}
.clients .about-clients h2{
  margin-bottom: 5px;
}
.clients .members{
  /* background-color: aqua; */
  margin: 5px;
  display: flex;
}
.clients .members .member-one{
  margin: 10px;
  height: 150px;
  flex: 1;
  background-color:white;
  border-radius: 10px;
  padding: 5px;
}

.clients .members .member-one h5{
  padding:5px 0;
}

.view-more{
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  margin:10px ;
}
.view-more button{
  width: 100px;
  height: 40px;
  border: none;
  background-color: blue;
  border-radius: 10px;

}
.view-more button:hover{
  transform: scale(1.05);
}

/* Footer Section */

.footer{
  background-color: rgba(1, 1, 136, 0.897);
  width: 100%;
  height: 350px;
  display: flex;
  color: whitesmoke;
}
.footer .vision{
  margin: 20px;
  padding: 0 20px;
  /* background-color: red; */
flex:1;

}
.footer .vision h2{
font-family: "Oleo Script", sans-serif;
}

.footer .more{
  margin: 20px;
  /* background-color: green; */
flex:1;
display: flex;
justify-content: center;
}
.footer .navigation{
  margin: 20px;
  /* background-color: yellow; */
flex:1;
display: flex;
justify-content: center;
}
.footer ul li {
  list-style-type: none;
  margin-bottom: 20px;
  /* background-color: black; */
}
.footer ul li a{
  color: whitesmoke;
  font-size: 15px;
}

.footer ul li a:hover{
font-size: 16px;
}

.home-page{
  font-size:40px;
  text-shadow: 1px 1px 1px ;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bolder;
}